body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #F4F4F4;
}

.quiz-heading {
    background: #343A40;
    color: white;
    text-align: center;
    padding: 20px;
}

.question-card {
    background: white;
    max-width: 600px;
    width: 90%;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.options {
    margin: 20px 0;
}

input[type="radio"] {
    margin-right: 10px;
}

.submit, #restart-button {
    background: #28A745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    display: inline-block;
}

.hidden {
    display: none;
}

.correct {
    background: #D4EDDA;
    color: #156340;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.incorrect {
    background: #F8D7DA;
    color: #722845;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.idle {
    margin: 10px 0;
    visibility: hidden;
}
